@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 130 31% 55%;
    --primary-foreground: 130 30% 10%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 130 31% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 130 31% 55%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 215 25% 17%;
    --foreground: 210 40% 98%;
    --card: 222 39% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 222 39% 20%;
    --popover-foreground: 210 40% 98%;
    --primary: 130 31% 55%;
    --primary-foreground: 130 30% 10%;
    --secondary: 222 39% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 39% 22%;
    --muted-foreground: 215 20% 65%;
    --accent: 130 31% 45%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 39% 25%;
    --input: 222 39% 25%;
    --ring: 130 31% 55%;
    --chart-1: 130 31% 55%;
    --chart-2: 130 31% 45%;
    --chart-3: 130 31% 35%;
    --chart-4: 130 31% 65%;
    --chart-5: 130 31% 75%;
    --sidebar-background: 222 39% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 130 31% 55%;
    --sidebar-primary-foreground: 130 30% 10%;
    --sidebar-accent: 222 39% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 39% 25%;
    --sidebar-ring: 130 31% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
